@font-face {
    font-family: 'HelveticaNeue';
    src: 
    url('../fonts/Helvetica Neue.eot'), 
    url('../fonts/Helvetica Neue.woff'), 
    url('../fonts/Helvetica Neue.otf'), 
    url('../fonts/Helvetica Neue.ttf');
}

@font-face {
    font-family: 'HelveticaNeueTh';
    src: 
    url('../fonts/HelveticaNeueLTPro-Th.eot'), 
    url('../fonts/HelveticaNeueLTPro-Th.woff'), 
    url('../fonts/HelveticaNeueLTPro-Th.otf'), 
    url('../fonts/HelveticaNeueLTPro-Th.ttf');
}

@font-face {
    font-family: 'HelveticaNeueUltLt';
    src: 
    url('../fonts/HelveticaNeueLTPro-UltLt.eot'),  
    url('../fonts/HelveticaNeueLTPro-UltLt.otf'), 
    url('../fonts/HelveticaNeueLTPro-UltLt.ttf');
}

body{
font-family: HelveticaNeueUltLt;
min-width: 868px;
}

.loader{
position:fixed;
top:0;
width:100%;
background-color:#ffffff;
height:100%;
text-align:center;
margin:0;
padding:0;
overflow:hidden;
}

/***** for main page *****/
.navigation{
position: relative;
height: 500px;
overflow: hidden;
}

.navigation .cover{
width: 100%;
height: 100%;
position: absolute;
top: 0;
}

.cover .login{	
color: white;
font-size: 30px;
right: 50px;
position: absolute;
top: 50px;
cursor: pointer;
}

.cover .sign-up{  
color: white;
font-size: 30px;
right: 160px;
position: absolute;
top: 50px;
cursor: pointer;
}

.cover .show-user{  
color: white;
font-size: 30px;
right: 200px;
position: absolute;
top: 50px;
cursor: pointer;
}

.cover .logout{  
color: white;
font-size: 18px;
right: 60px;
position: absolute;
top: 60px;
cursor: pointer;
}

.cover .search{
color: white;
font-size: 30px;
right: 60px;
position: absolute;
bottom: 60px;
cursor: pointer;
}


.myglow {
  display: inline-block;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-shadow: 0 0 0px rgba(255, 255, 255, 0);
}
.myglow:hover, .myglow:focus, .myglow:active {
text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.myglow-p {
  display: inline-block;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-shadow: 0 0 0px rgba(148, 110, 167, 0);
}
.myglow-p:hover, .myglow:focus, .myglow:active {
text-shadow: 0 0 10px rgba(148, 110, 167, 1);
}

.myglow-box {
  display: inline-block;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 0px rgba(255, 255, 255, 0);
}
.myglow-box:hover, .myglow:focus, .myglow:active {
box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.myglow-p-box {
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 0px rgba(148, 110, 167, 0);
}
.myglow-p-box:hover, .myglow:focus, .myglow:active {
box-shadow: 0 0 5px rgba(148, 110, 167, 1);
}



.cover .logo{
margin-left: 10px;
margin-top: 10px;
}

.cover .logo img{
width:120px;
}

.cover .welcome{
width: 100%;
margin-top: 90px;
text-align: center;
color: white;
font-size: 50px;
}

.cover .welcome .sub{
width: 35%;
margin-top: 90px;
color: white;
font-size: 20px;
display: inline-block;
}

.recent-products{
margin-left: auto;
overflow: hidden;
margin-right: auto;
text-align: center;
}

.recent-products .title{
margin-top: 40px;
font-size: 64px;
color: #946EA7;
text-align: center;
}

.recent-products .item-container{
display: inline-block;
position: relative;
margin: 20px;
cursor: pointer;
}

.recent-products .item{
display: inline-block;
width: 400px;
height: 400px;
background: #dedede;
box-shadow: 0px 0px 2px #cccccc;

}

.recent-products .item-cover{
position: absolute;
width: 400px;
height: 400px;
background: rgba(148, 110, 167, 0.6);
left: 0px;
top: 0px;
transition: all 0.4s ease-in-out;
transform: scale(0);
}

.recent-products .item-container:hover .item-cover{
transform: scale(1);
}

.recent-products .item-cover h3{
color: #ffffff;
font-size: 64px;
padding-top: 60px;
font-family: fantasy;
}


.see-more-index{
float:right;
margin: 30px 40px;
font-size: 28px;
color:#946EA7; 
cursor:pointer;
} 

/****************************** for account page ****************************/
.navigation-s{
height: 100px;
position: relative;
box-shadow: 0px 0px 3px #888888;
}

.navigation-s .logo-s{
display: inline-block;
margin-left: 20px;
margin-top: 20px;
cursor: pointer;

}

.navigation-s .username-label-s{
display: inline-block;
position: absolute;
top: 29px;
left: 130px;
font-size: 30px;
color:#946EA7;
}

.navigation-s .designer-label-s{
display: inline-block;
position: absolute;
top: 29px;
right: 530px;
font-size: 30px;
color:#946EA7;
cursor: pointer;
}

.navigation-s .designer-label-s-choosen{
display: inline-block;
position: absolute;
top: 19px;
right: 500px;
font-size: 30px;
color: white;
background: #946EA7;
border-radius: 30px;
padding: 10px 30px;
}

.navigation-s .buyer-label-s{
display: inline-block;
position: absolute;
right: 300px;
top: 29px;
font-size: 30px;
color:#946EA7;
cursor: pointer;
}

.navigation-s .buyer-label-s-choosen{
display: inline-block;
position: absolute;
right: 270px;
top: 19px;
font-size: 30px;
color:white;
background: #946EA7;
border-radius: 30px;
padding: 10px 30px;
}

.navigation-s .shopping-cart{
display: inline-block;
position: absolute;
height: 100%;
right: 20px;
top: 0px;
cursor:pointer;
}

.shopping-cart .icon{
height: 100%;
float: left;
}

.shopping-cart .icon img {
width: 25px;
margin-top: 36px;
}

.shopping-cart .container{
margin-top: 39px;
width: 132px;
margin-left: 25px;
}


.ongoing-general{
}

.ongoing-general .title{
margin: 40px 60px;
font-size: 40px;
color: #946EA7;
display: inline-block;
}

.ongoing-general .upload{
cursor:pointer;
}

.ongoing-general .triangle{
float: right;
cursor: pointer;
margin: 0px;
margin-top: 42px;
margin-right: 20px;
}

.ongoing-general .triangle-up{
float: right;
cursor: pointer;
margin: 0px;
margin-top: 42px;
margin-right: 20px;
}

.ongoing-general .see-more{
float: right;
font-size: 20px;
margin: 0px;
margin-top: 58px;
margin-right: 60px;
}


/******************************* Crop it part **********************************/
.image-editor{
font-family: HelveticaNeueUltLt;
}

.image-editor .column {
display: inline-block;
}

.image-choosen .column{
display: inline-block;  
}


.cropit-image-preview {
background-color: #f8f8f8;
background-size: cover;
border: 1px solid #ccc;
border-radius: 3px;
margin-top: 50px;
width: 400px;
height: 400px;
cursor: move;
}

.cropit-image-background {
    opacity: .2;
    cursor: auto;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    width: 300px;
}

    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 6px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #52a0c7;
        margin-top: -5px;
    }

input.cropit-image-input {
    visibility: hidden;
    width: 50px;
}

.select-image-btn {
cursor: pointer;
background: #946EA7;
border: 1px solid #946EA7;
color: #ffffff;
border-radius: 5px;
padding: 6px 40px;
font-size: 24px;
margin-top: 15px;
margin-top: 49px;
text-align: center;
}

.save-image-btn {
cursor: pointer;
background: #A8DF70;
border: 1px solid #A8DF70;
color: #ffffff;
border-radius: 5px;
padding: 6px 40px;
font-size: 24px;
margin-top: 15px;
text-align: center;
}

/* Translucent background image */
.cropit-image-background {
    opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
input.cropit-image-zoom-input {
    position: relative;
    margin-bottom: 50px;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
    overflow: hidden;
}

.image-choosen-preview{
background-color: #f8f8f8;
background-size: cover;
border: 1px solid #ccc;
border-radius: 3px;
margin-top: 50px;
width: 400px;
height: 400px;
cursor: move;
}

.edit-image-btn{
cursor: pointer;
background: #946EA7;
border: 1px solid #946EA7;
color: #ffffff;
border-radius: 5px;
padding: 6px 40px;
font-size: 24px;
margin-top: 15px;
margin-top: 49px;
text-align: center; 
}
/*******************************End of Crop it part **********************************/

.ongoing-general .items{
padding-left: 75px;
height: 257px;
overflow: hidden;
}

.ongoing-general .items .item{
width: 250px;
height: 250px;
background: #cccccc;
display: inline-block;
margin: 5px 5px;
cursor:pointer;
box-shadow: 0px 0px 2px #cccccc;
}


.history-general{
height: 350px;
margin-top: 150px;
margin-bottom:80px;
}

.history-general .title{
margin: 40px 60px;
font-size: 40px;
color: #946EA7;
}

.history-general .triangle{
float: right;
cursor: pointer;
margin: 0px;
margin-top: 42px;
margin-right: 20px;
}

.history-general .triangle-up{
float: right;
cursor: pointer;
margin: 0px;
margin-top: 42px;
margin-right: 20px;
}

.history-general .see-more{
float: right;
font-size: 20px;
margin: 0px;
margin-top: 58px;
margin-right: 60px;
}


.history-general .items{
padding-left: 75px;
height: 257px;
overflow: hidden;
}

.history-general .items .item{
width: 250px;
height: 250px;
background: #cccccc;
display: inline-block;
margin: 5px 5px;
cursor:pointer;
box-shadow: 0px 0px 2px #cccccc;
}

/*******************************End of Account page **********************************/

/************for login and other forms*******************/
.ui-widget-overlay{
background: #2B1536;
opacity: 0.8;
}

.ui-widget-header{
background: #ffffff;
color: #946EA7;
border: 0px;
font-size: 40px;
font-family: HelveticaNeueUltLt;
}

.ui-widget-header button[title="Close"]{
background: #ffffff;
border: 0px;
color: #946EA7;
}

label, input {
display: block;
}

input.text {
margin-bottom: 12px;
width: 95%;
padding: .4em;
}

fieldset {
padding: 0;
border: 0;
margin-top: 25px;
}

h1 {
font-size: 1.2em;
margin: .6em 0;
}

div#users-contain {
width: 350px;
margin: 20px 0;
}

div#users-contain table {
margin: 1em 0;
border-collapse: collapse;
width: 100%;
}

div#users-contain table td, div#users-contain table th {
border: 1px solid #eee;
padding: .6em 10px;
text-align: left;
}

.ui-dialog .ui-state-error {
padding: .3em;
}

.validateTips {
border: 1px solid transparent;
padding: 0.3em;
}

label, input {
display: block;
}

input.text {
margin-bottom: 12px;
width: 95%;
padding: .4em;
}

fieldset {
padding: 0;
border: 0;
margin-top: 25px;
}

h1 {
font-size: 1.2em;
margin: .6em 0;
}

div#users-contain {
width: 350px;
margin: 20px 0;
}

div#users-contain table {
margin: 1em 0;
border-collapse: collapse;
width: 100%;
}

div#users-contain table td, div#users-contain table th {
border: 1px solid #eee;
padding: .6em 10px;
text-align: left;
}

.ui-dialog .ui-state-error {
padding: .3em;
}

.validateTips {
border: 1px solid transparent;
padding: 0.3em;
}

.my-login-form{
font-family: HelveticaNeueUltLt;
color: #946EA7;
font-size: 20px;
}

.my-login-form button{
background: #946EA7;
border: 1px solid #946EA7;
color: #ffffff;
border-radius: 5px;
padding: 6px 40px;
font-family: HelveticaNeueUltLt;
font-size: 24px;
margin-top: 15px;
}

.my-login-form .my-btn-login-facebook{
background: #1471CD;
border: 1px solid #1471CD;
color: #ffffff;
border-radius: 5px;
padding: 6px 40px;
font-family: HelveticaNeueUltLt;
font-size: 24px;
margin-top: 15px;
margin-left: 20px;
}

.my-signup-form button{
background: #946EA7;
border: 1px solid #946EA7;
color: #ffffff;
border-radius: 5px;
padding: 6px 40px;
font-family: HelveticaNeueUltLt;
font-size: 24px;
margin-top: 15px;
}

.my-upload-form{
font-family: HelveticaNeueUltLt;
}

.upload-feature-container{
margin-top: 20px;
}

.upload-feature-container .upload-title{
margin-left: 30px;
font-size: 30px;
}

.upload-feature-container input[name="name"]{
margin-left: 31px;
width: 70%;
}

.upload-feature-container textarea{
 margin: 0px 0px 0px 31px;
width: 70%;
height: 100px;
}

.upload-feature-container .dropdown{
margin-left: 31px;
}

.upload-feature-container .dropdown ul li{
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
}

.upload-feature-container .dropdown ul li:hover{
background: #f1f1f1;
}


.upload-feature-container .minimum-price{
margin-left: 31px;
width:70%;
}

.upload-feature-container .time-left{
margin-left: 31px;
width:20%;

}

.upload-feature-container .upload-btn{
background: #946EA7;
border: 1px solid #946EA7;
color: #ffffff;
border-radius: 5px;
padding: 6px 40px;
font-family: HelveticaNeueUltLt;
font-size: 24px;
margin-top: 15px;
display: inline-block;
width: 20%;
margin-left:31px;
text-align: center;
cursor: pointer;
}

.upload-feature-container .cancel-btn{
background: #cccccc;
border: 1px solid #cccccc;
color: #ffffff;
border-radius: 5px;
padding: 6px 40px;
font-family: HelveticaNeueUltLt;
font-size: 24px;
margin-top: 15px;
display: inline-block;
width: 20%;
margin-left:15px;
text-align: center;
cursor: pointer;
}

.my-search{
background: #946EA7;
height:0px;
overflow: hidden;
}

.my-search .search-field-set{
margin: 0px;

}

.my-search .my-search-input{
display: inline-block;
margin: 30px 50px;
border-radius: 30px;
border: 0px;
height: 61px;
width: 80%;
font-size: 38px;
color: #946EA7;
padding-left: 30px;
}

.my-search .my-btn-search{
display: inline-block;
background: transparent;
font-size: 28px;
color: #ffffff;
border: 1px solid;
border-radius: 32px;
padding: 11px 0px;
margin-left: 15px;
margin-top: 30px;


}

.git-hub{
  margin-top: 100px;
width: 100%;
height: 200px;
background: #946EA7;
}

.git-hub{
text-align: center;
font-size: 45px;
color: white;
padding-top: 20px;
}

.git-hub .my-github-btn{
border: 1px solid #ffffff;
color: white;
width: 130px;
border-radius: 115px;
text-align: center;
padding: 10px;
font-size: 28px;
margin-top: 20px;
display: inline-block;
cursor: pointer;
}


/******************************************RESPONSIVE PART********************************************/
@media only screen and (max-width: 1303px) {

.my-search .my-search-input {
width:70%;
}

.my-search .my-btn-search {
width: 110px;
}




}


/* ----- */
@media only screen and (max-width: 992px) {

.my-search .my-search-input {
width:60%;
}





}