<!DOCTYPE html>

<html lang="en" ng-app="FashionFlow">

<head>

<meta charset='utf-8' />

<title>FashionFlow</title>
<link href="css/bootstrap.css" rel="stylesheet" media="all"/>

<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


<script src="js/myjs.js"></script>
<script src="js/app.js"></script>
<script src="features/services/controller.js"></script>
<link href="css/mycss.css" rel="stylesheet" media="all">
<link href="css/mycss-design-detail.css" rel="stylesheet" media="all">

</head>

<body ng-controller="DesignDetailCtrl">

    <div class="navigation-s" >
        <div class="logo-s" ng-click="Home()">
            <img src="img/logo-s.svg" />
        </div>
        
        <div class="men-label myglow-p" ng-click="searchMen()">Men</div>
        <div class="women-label myglow-p" ng-click="searchWomen()">Women</div>
        <div class="uni-label myglow-p" ng-click="searchUni()">Uni</div>
        <div class="login myglow-p">Login</div>
        <div class="sign-up myglow-p">SignUp</div>
        <div class="username-label myglow-p" ng-click="goAccount()"></div>
        <div class="shopping-cart" ng-click="goShoppingCart()">
            <div class="icon "><img src="img/shopping-purse-purple.svg"></div>
            <div class="container ">
                <span class="items"></span>
                <span >item(s)</span>
            </div>
        </div>
    </div>

    <!-- LOGIN DIALOG -->
    <div id="my-login-dialog-form" title="Tell me who are you" >
        <p class="validateTips">{{ hintForLogin }}</p>

        <form class="my-login-form" action="/login" method="post">
            <fieldset>
                <label for="email">Username(email)</label>
                <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" ng-model="userLogin.username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" ng-model="userLogin.password">

                <!-- <input type="submit" value="Login" class="my-btn-login"> -->
                <button class="my-btn-login" ng-click="login()">Login</button>
                
                       
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position: absolute; top: -1000px">
            </fieldset>
        </form>
    </div>


    <!-- SIGN UP DIALOG -->
    <div id="my-signup-dialog-form" title="Join us now">
        <p class="validateTips">{{ hintForSignup }}</p>

        <form class="my-signup-form" >
            <fieldset>
                <label for="email">Username(email)</label>
                <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" ng-model="userSignup.username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" ng-model="userSignup.password">
                <label for="password">Confirm Password</label>
                <input type="password" name="c-password" id="c-password" value="" class="text ui-widget-content ui-corner-all" ng-model="cpassword">

                <button class="my-btn-signup" ng-click="signup()">Submit</button>
                       
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position: absolute; top: -1000px">
            </fieldset>
        </form>
    </div>

    <!-- SIGN UP DIALOG -->
    <div id="my-api-dialog" title="Probably Future Products">
        <p>{{apiHint}}</p>
        <img class='item' ng-attr-src="{{item}}" ng-repeat="item in apiResults">
        
    </div>

    <div class="detail">
        
        <div class="preview-container col-md-4">
            <img class="preview" src="">
            <div class="glimpse myglow-p" data-toggle="tooltip" data-placement="bottom" title="Preview what could be produced based on this Design" ng-click="getDataFromAPI()">Glimpse</div>
            <script>
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
        </div> 
        
        <div class="control col-md-6">
            <div class="row-container col-md-12">
               <div class="name">name</div>
            </div>
            <div class="row-container col-md-12">
                <h1>Designed by: </h1>
                <div class="designer">designer</div>
            </div>
            <div class="row-container col-md-12">
                <h1>Ends at: </h1>
                <div class="time-left"></div>
            </div>
            <div class="row-container">
                <div class="col-md-6">
                    <h1>Current Minimun: </h1>
                    <div class="minimum"></div>
                </div>
                <div class="col-md-6">
                    <h1>Current Winner: </h1>
                    <div class="current-winner"></div>
                </div>
                
            </div>
            <div class="row-container col-md-12 stuff-to-hide-bidding">
                <h1 class="">Your bid: </h1>
                <input type="text" class="your-bid form-control text ui-widget-content ui-corner-all " ng-model="yourBid">
            </div>
            <div class="row-container col-md-12 ">
                <div class="bid-btn myglow-p-box col-md-6 stuff-to-hide-bidding" ng-click="bid()">Bid Now</div>
                <div class="hint col-md-6" >{{hintForBidding}}</div>
            </div>
        </div>


        
        <div class="description col-md-12">
            <h1>Description</h1>
            <p></p>
        </div>
    </div>

    <div class="loader">
    
    </div> 

</body>
</html>
